.label {
  border-bottom: 1px solid #171212;
  border-left: 1px solid #171212;
  border-bottom-left-radius: 3px;
  padding-left: 5px;
  font-size: 24px;
}

.input {
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #171212;
  background-color: transparent;
  font-size: 24px;
}
