.container {
  min-height: 100vh;
  padding: 20px;
  background: #83a4d4; /* fallback for old browsers */
  background: linear-gradient(to left, #b6fbff, #83a4d4);
  color: #171212;
}

.headline-primary {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

.item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.item > span {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;
}

.button {
  --pad: 0.25em;
  background: transparent;
  border: 1px solid #171212;
  border-radius: 3px;
  padding-inline:var(--pad-inl, calc(var(--pad) * 2.5));
  padding-block: var(--pad-blo, calc(var(--pad) * 1));
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.button:hover {
  background: #171212;
  color: #ffffff;
}

.button_small {
  --pad-inl: var(--pad);
  border: none;
  line-height: 0;
}

.button_large {
  --pad: 0.5em;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  letter-spacing: 1px;
}

.search-form {
  padding: 10px 0 20px 0;
  display: flex;
  align-items: center;
}
.search-form > * {
  display: block;
}
.search-form > *:not(:last-child) {
  margin-right: 1rem;
}

.label {
  border-bottom: 1px solid #171212;
  border-left: 1px solid #171212;
  border-bottom-left-radius: 3px;
  padding-left: 5px;
  font-size: 24px;
}

.input {
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #171212;
  background-color: transparent;
  font-size: 24px;
}
